.event-category {
  width: 125px;
  height: 125px;
  background: var(--light-blue);

  border-radius: 50%;
  border: none;
  font-family: "Raleway", sans-serif;
  color: var(--white);
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
}
.event-film {
  transition: box-shadow 0.2s ease-in-out;
}

.event-comedy,
.event-music,
.event-sports,
.category-theater,
.category-family {
  margin-left: -20px;
  transition: box-shadow 0.2s ease-in-out;
}
.event-film:hover,
.event-comedy:hover,
.event-music:hover,
.event-sports:hover,
.category-theater:hover,
.category-family:hover {
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 0 10px 5px rgba(251, 252, 255, 0.1);
  z-index: 11;
}

.event-comedy .comedy-txt,
.event-sports .sports-txt,
.category-theater .theater-txt {
  z-index: 10;
}

.event-comedy {
  background: var(--dark-blue);
}

.event-music {
  background: var(--fire-red);
}

.event-sports {
  background: var(--deep-yellow);
}

.category-theater {
  background: var(--light-green);
}

.category-family {
  background: var(--darker-grey);
}

/* Cards */
.custom-card {
  position: relative;
  border-radius: 5px;
  background: url("../../../public/images/uk_flag.svg");
  height: 400px;
  padding: 25px;
}
.custom-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.custom-card:hover:before {
  width: 177px;
  border-radius: 4px 0 0 4px;
  transition: all 0.3s ease-in-out;
}

.custom-card:hover .card-title {
  margin-left: -300%;
  transition: all 0.3s ease-in-out;
}
.custom-card .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border: 2px solid var(--white);
  padding: 15px;
  border-radius: 50%;
}

.custom-card .date p {
  font-family: "Raleway", sans-serif;
  color: var(--white);
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}

.custom-card .card-info {
  font-family: "Raleway", sans-serif;
  color: var(--white);
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  margin-bottom: 2px;
}

.custom-card .card-title {
  margin-top: -20px;
  font-family: "Raleway", sans-serif;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}
