.hero {
  min-height: 564px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
}
.hero:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.loading-wraper {
  background: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
