#contact-page {
  min-height: 100svh;
  background: var(--rasin-black);
}

.contact-form-wraper {
  padding: 0 12px;
  color: var(--white);
  max-width: 768px;
}
.name-email-wraper input,
textarea.form-input {
  width: 100%;
  color: var(--white);
}

.form-input {
  padding: 6px 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--white-opacity);
  transition: border-color 0.2s linear;
}
.form-input::placeholder {
  color: var(--white-opacity);
}
.form-input:focus {
  outline: none;
  border-bottom: 2px solid var(--white);
  transition: border-color 0.2s linear;
}
