#main-nav {
  /* background: rgba(22, 25, 37, 0.9); */
  background: rgba(39, 65, 86, 0.8);
}

.uk-flag {
  width: 20px;
  border-radius: 4px;
}

.logo {
  max-width: 100px;
  /* width: 50px;
  height: 50px; */
}
.city,
.menu-item {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 1.6px;
  transition: color 0.2s ease-in-out;
}

.city {
  display: flex;
  align-items: center;
}

.menu-item {
  font-size: 14px;
  color: var(--grey);
}

.menu-item:hover {
  color: var(--white);
}

.menu-divider {
  border-right: 3px solid var(--dark-blue);
  cursor: default;
}
.city:hover {
  color: #ddd;
  transition: color 0.2s ease-in-out;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.2s ease forwards;
}

.large-nav .active {
  color: var(--white);
}

/* Mobile menu */

.hamburger-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 30px;
  height: 30px;
  transition: all 0.2s linear;
}

.hamburger-line {
  position: relative;
  width: 100%;
  height: 2px;
  background: var(--white);
  transition: all 0.2s linear;
}
.hamburger-line:before,
.hamburger-line:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--white);
  transition: all 0.2s linear;
}

.hamburger-line:before {
  top: -5px;
}
.hamburger-line:after {
  top: 5px;
}
.hamburger-menu:hover {
  cursor: pointer;
}
.hamburger-menu.clicked .hamburger-line {
  background: transparent;
  transition: all 0.2s linear;
}
.hamburger-menu.clicked .hamburger-line:before {
  transform: rotate(45deg);
  top: 0;
  transition: all 0.2s linear;
}

.hamburger-menu.clicked .hamburger-line:after {
  transform: rotate(-45deg);
  top: 0;
  transition: all 0.2s linear;
}

.mobile-menu-wraper {
  position: absolute;
  width: 100%;
  bottom: -40px;
  background-color: rgba(22, 25, 37, 0.7);
  transition: right 0.5s ease-in-out;
}
.mobile-menu-wraper .active {
  color: var(--white);
}

.mobile-menu-wraper.show {
  right: 0;
}

.mobile-menu-wraper.hide {
  right: -150%;
}

/* Offcanvas */

.offcanvas {
  background-color: rgba(28, 110, 140, 0.95) !important;
  color: var(--white) !important;
}
.btn-close {
  transition: all 0.2s linear;
}
.btn-close:hover {
  transform: rotate(90deg);
  transition: all 0.2s linear;
}

label.btn {
  border-radius: 4px;
  color: var(--white);
  transition: all 0.2s linear;
  letter-spacing: 1.2px;
}

label.btn:hover {
  color: #fff !important;
  border: 1px solid #fff !important;
  transition: all 0.2s linear;
}

.offcanvas-submit {
  color: var(--white);
  text-transform: uppercase;
  width: 100%;
  display: block;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background: var(--dark-blue);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
  line-height: 1.5;
  transition: all 0.2s linear;
}

.offcanvas-submit:hover {
  background: rgba(39, 65, 86, 0.9);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}
/* Animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Media queries */

@media (min-width: 768px) {
  .mobile-menu-wraper {
    display: none;
  }
}
@media (max-width: 399px) {
  .offcanvas {
    background-color: rgba(28, 110, 140, 1) !important;
  }
  .offcanvas-body .form-check {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
