.uk-flag {
  width: 20px;
  border-radius: 4px;
}

.city,
.menu-item {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 1.6px;
  transition: color 0.2s ease-in-out;
}

.menu-item {
  font-size: 14px;
  color: var(--grey);
}

.menu-item:hover {
  color: var(--white);
}

.menu-divider {
  border-right: 3px solid var(--dark-blue);
  cursor: default;
}
.city:hover {
  color: #ddd;
  transition: color 0.2s ease-in-out;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.2s ease forwards;
}

/* Offcanvas */

.offcanvas {
  background-color: rgba(28, 110, 140, 0.95) !important;
  color: var(--white) !important;
}
.btn-close {
  transition: all 0.2s linear;
}
.btn-close:hover {
  transform: rotate(90deg);
  transition: all 0.2s linear;
}

label.btn {
  border-radius: 4px;
  color: var(--white);
  transition: all 0.2s linear;
}

label.btn:hover {
  color: #fff !important;
  border: 1px solid #fff !important;
  transition: all 0.2s linear;
}

.offcanvas-submit {
  color: var(--white);
  text-transform: uppercase;
  width: 100%;
  display: block;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background: var(--dark-blue);
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.2s linear;
}

.offcanvas-submit:hover {
  background: rgba(39, 65, 86, 0.9);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}
/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
