.uk-flag {
  width: 20px;
  border-radius: 4px;
}

.city {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 1.6px;
  transition: color 0.2s ease-in-out;
}
.city:hover {
  color: #ddd;
  transition: color 0.2s ease-in-out;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.2s ease forwards;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
