/*
.custom-prev-arrow,
.custom-next-arrow {
  width: 50px; 
  height: 50px; 
  background-color: #ffffff; 
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.custom-prev-arrow:before,
.custom-next-arrow:before {
  content: ""; 
  width: 20px; 
  height: 20px; 
  border-top: 2px solid #000000; 
  border-left: 2px solid #000000; 
  transform: rotate(-45deg); 
}

.custom-prev-arrow {
  left: 10px; 
}

.custom-next-arrow {
  right: 10px;
}


.slick-dots {
  display: none;
} 
*/

/* Slider arrows */
.slider-wraper {
  padding-bottom: 115px !important;
}
.slider-wraper .custom-prev-arrow,
.slider-wraper .custom-next-arrow {
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50%;
  font-size: 30px;
  color: var(--white);
  transition: all 0.2s linear;
}

.slider-wraper .custom-prev-arrow {
  position: absolute;
  bottom: -95px;
  left: 12px;
  background: var(--light-blue);
  transition: all 0.2s linear;
}

.slider-wraper .custom-prev-arrow:hover,
.slider-wraper .custom-next-arrow:hover {
  box-shadow: 0 0 10px 5px rgba(251, 252, 255, 0.1);
  color: var(--grey);
  transition: all 0.2s linear;
}
.slider-wraper .custom-next-arrow {
  position: absolute;
  bottom: -95px;
  left: 67px;
  background: var(--dark-blue);
  transition: all 0.2s linear;
}
.location-card .img-container {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}
.location-card .img-container:hover:before {
  bottom: 0;
  opacity: 1;
  transition: all 0.2s linear;
}
.location-card .img-container:before {
  content: "Images are generic placeholders, not indicative of specific establishments";
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  opacity: 0;
  padding: 10px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.2s linear;
}
.location-card .title {
  font-size: 14px;
  letter-spacing: 1.2px;
}

.location-card .distance {
  font-size: 14px;
  margin-bottom: 45px;
}
.location-card .title-distance-link-wraper {
  border-radius: 0 0 4px 4px;
  flex-grow: 1;
  background: var(--dark-blue);
}

.location-card .btn-wraper {
  margin-bottom: 12px;
}

.establishment-card-placeholder {
  position: absolute;
  left: 8px;
  right: -8px;
  width: calc(100% - 16px);
  height: 100%;
  background: #000;
  z-index: 2;
}

.establishments-img {
  object-fit: cover;
  width: 100%;
}

#sngle-event .location-card .dates-btn a {
  font-size: 14px;
}

@media (max-width: 768px) {
  .slider-wraper {
    padding-bottom: 20px !important;
  }
  .slider-wraper .custom-prev-arrow,
  .slider-wraper .custom-next-arrow {
    display: none;
  }
}
