.hotel-restaurant-tabs-wraper {
  margin: 40px 0 0px 0;
}

#hotels-restaurants-tab .dates-btn {
  background: var(--light-blue);
  color: var(--white);
  font-weight: 600;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
#hotels-restaurants-tab .dates-btn:hover,
#hotels-restaurants-tab .active.dates-btn {
  background: rgb(35, 138, 175);
  box-shadow: 0 0 10px 5px rgba(251, 252, 255, 0.1);
}

/* Placeholder */

.establishments-placeholder {
  padding: 80px 12px;
  min-height: 746px;
}

.establishments-placeholder .placeholder-title {
  height: 60px;
  margin-bottom: 24px;
}
.establishments-placeholder .card {
  border: none;
}

.establishments-placeholder .card-img-placeholder {
  height: 300px;
}
.establishments-placeholder .card-body {
  background: #1e2233;
}

.establishments-title {
  color: var(--white);
  font-size: 58px;
}
#hotels-tab {
  padding-left: 0;
}

/* Media queries */
@media screen and (max-width: 1200px) {
  .establishments-title {
    font-size: 42px;
  }
}
@media screen and (max-width: 992px) {
  .establishments-title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .establishments-title {
    font-size: 26px;
  }
  .hotel-restaurant-tabs-wraper {
    margin: 40px 0 0 0;
  }
}
