/* .city {
  font-family: "Raleway", sans-serif;
  font-weight: bold !important;
  font-family: "Roboto", sans-serif;
} */
:root {
  --white: #fbfcff;
  --grey: #d0ccd0;
  --light-blue: #1c6e8c;
  --dark-blue: #274156;
  --lighter-blue: #405b72;
  --rasin-black: #161925;
  --fire-red: #c1292e;
  --deep-yellow: #d98324;
  --light-green: #0ead69;
  --ultra-violet: #52489c;
  --purple: #9046cf;
  --deep-orange: #e94f37;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.white {
  color: var(--white);
}
.grey {
  color: var(--grey);
}

.hidden-main {
  display: none;
}
.show-main {
  display: inline-block;
}
#events {
  background: var(--rasin-black);
}
