/* .city {
  font-family: "Raleway", sans-serif;
  font-weight: bold !important;
  font-family: "Roboto", sans-serif;
} */
:root {
  --white: #fbfcff;
  --grey: #d0ccd0;
  --light-blue: #1c6e8c;
  --dark-blue: #274156;
  --rasin-black: #161925;
  --fire-red: #c1292e;
  --deep-yellow: #e6af2e;
  --light-green: #0ead69;
  --darker-grey: #595959;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}
.white {
  color: var(--white);
}
.grey {
  color: var(--grey);
}

#events {
  height: 1000px;
  background: var(--rasin-black);
}
